<configuration>
	<connectionStrings>
		<add name="YourDBConnectionString" connectionString="Server=YOUR_SERVER; Database=YOUR_DATABASE; Integrated Security=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
